html {
    height: 100%;
    margin: 0 10px 0 10px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("img/background.gif");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center bottom;
    height: 100%;
    color: rgb(192, 192, 192);
}


h2 {
    font-size: 20px;
}

p {
    margin: 0;
}

.all {
    width: 100%;
    height: 100%;
}

.center-line {
    position: fixed;
    background-color: #646464;
    width: 5px;
    height: 100%;
    margin-left: 50%;
}

.left-section {
    position: fixed;
    float: left;
    width: 50%;
}

.right-section {
    float: right;
    width: 50%;
}

.section-title {
    text-align: center;
    color: #e0e0e0;
    text-shadow:
        0 0 0.10em #5267a3,
        0 0 0.15em #5267a3,
        0 0 0.80em #5267a3,
        0 0 1.00em #5267a3;
}

.sub-section-title {
    text-align: left;
    margin: 10px 0 10px 20px;
    color: #e0e0e0;
    text-shadow:
        0 0 0.10em #5267a3,
        0 0 0.15em #5267a3,
        0 0 0.80em #5267a3,
        0 0 1.00em #5267a3;
}

.items {
    text-align: left;
    padding-left: 10px;
}

.items01 {
    display: block;
}

.items02 {
    display: none;
}

.items03 {
    display: none;
}

.items04 {
    display: none;
}

.other-items,
.building-materials-items,
.electronics-items,
.energy-elements,
.flammable-materials,
.household-materials,
.medical-supplies,
.tools-item,
.valuables-items {
    margin-left: 20px;
}

.medication01,
.medication02,
.medication03,
.medication04 {
    margin-left: 20px;
}

.provisions01,
.provisions02 {
    margin-left: 20px;
}

.gear01,
.gear02,
.gear03,
.gear04,
.gear05,
.gear06,
.gear07,
.gear08,
.gear09,
.gear10 {
    margin-left: 20px;
}

.item {
    zoom: 90%;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    border: solid 2px #646464;
    width: 50px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    transition: .2s;
    scale: 98%;
}

.additem {
    zoom: 80%;
    margin: 0px 2px 0px 2px;
    display: none;
    border: solid 2px #646464;
    width: 50px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    scale: 98%;
}

.item:hover {
    cursor: pointer;
    transition: scale opacity .2s;
    scale: 94%;
}

.additem:hover {
    cursor: pointer;
    transition: scale opacity .2s;
    scale: 94%;
}

.stash-tab {
    width: 0;
    text-align: right;
    top: 20%;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.air {
    width: 100%;
}

.tab {
    /* float: right; */
    color: white;
    font-size: 15px;
    margin: 0 0 7px 0;
    text-align: center;
    /* width: 150px; */
    width: 30px;
    height: 30px;
    border-radius: 15px 0 0 15px;
}

.tab-content01,
.tab-content02,
.tab-content03,
.tab-content04 {
    width: 150px;
    padding-top: 3px;
    font-weight: bold;
    /* display: none; */
    opacity: 0;
}

.tab01 {
    transition: .2s;
    padding: 2px;
    background-color: rgb(255, 77, 77);
}

.tab01:hover {
    width: 150px;
    cursor: pointer;
}

.tab01:hover .tab-content01 {
    display: block;
    transition-delay: 1s;
    transition: .5s;
    opacity: 1;
}

.tab02 {
    transition: .2s;
    padding: 2px;
    background-color: rgb(157, 255, 77);
}

.tab02:hover {
    width: 150px;
    cursor: pointer;
}

.tab02:hover .tab-content02 {
    display: block;
    transition-delay: 1s;
    transition: .5s;
    opacity: 1;
}

.tab03 {
    transition: .2s;
    padding: 2px;
    background-color: rgb(77, 190, 255);
}

.tab03:hover {
    width: 150px;
    cursor: pointer;
}

.tab03:hover .tab-content03 {
    display: block;
    transition-delay: 1s;
    transition: .5s;
    opacity: 1;
}

.tab04 {
    transition: .2s;
    padding: 2px;
    background-color: rgb(199, 77, 255);
}

.tab04:hover {
    width: 150px;
    cursor: pointer;
}

.tab04:hover .tab-content04 {
    display: block;
    transition-delay: 1s;
    transition: .5s;
    opacity: 1;
}

.tab-icon {
    margin: 3px 0 3px 3px;
    border-radius: 50%;
    float: left;
}

@media screen and (max-width:650px) {
    body {
        display: none;
    }
}