html {
    height: 100%;
    margin: 0 10px 0 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 39, 39);
    height: 100%;
    color: rgb(192, 192, 192);
}

h2 {
    margin: 0 0 0 10px;
}

.all {
    width: 100%;
    height: 100%;
}

.center-line {
    position: fixed;
    background-color: #5a503b;
    width: 5px;
    height: 100%;
    margin-left: 50%;
}

.left-section {
    position: fixed;
    float: left;
    width: 50%;
}

.right-section {
    float: right;
    width: 50%;
}

.section-title {
    text-align: center;
    color: #5a503b;
}

.sub-section-title {
    text-align: left;
    margin: 0 0 0 20px;
    color: #5a503b;
}

.items {
    text-align: left;
    padding-left: 10px;
}

.other-items,
.building-materials-items,
.electronics-items,
.energy-elements,
.flammable-materials,
.household-materials,
.medical-supplies,
.tools-item,
.valuables-items {
    margin-left: 20px;
}

.item {
    zoom: 90%;
    margin: 0px 2px 0px 2px;
    display: inline-block;
    border: solid 2px #5a503b;
    width: 50px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    transition: .2s;
    scale: 98%;
}

.additem {
    zoom: 80%;
    margin: 0px 2px 0px 2px;
    display: none;
    border: solid 2px #5a503b;
    width: 50px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    scale: 98%;
}

.item:hover {
    cursor: pointer;
    transition: scale opacity .2s;
    scale: 94%;
}

.additem:hover {
    cursor: pointer;
    transition: scale opacity .2s;
    scale: 94%;
}